@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #155dfc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b46c7;
}
